doctype=html
html
  include includes/head.pug
  body
    include includes/navbar.pug
    script(src='config.js')
    script store.currentConfig="#{currentConfig}"
    div#left-nav
      a(class='button' href="config-form") 
        i -- New config --
    div#content
      div#content-title
      pre#content-code
      div#content-action 
        input(type="button", class="action", value="Edit", onclick="javascript:editConfig()", title="Click to edit this configuration")
        input(type="button", class="action", value="Apply", onclick="javascript:selectConfig()", title="Click to use this configuration as the current IDP")
    